<%- include('./partials/header.ejs') %> 

<div class="container mt-3 font-style">
    <h2>Welcome to Super Team Picker Apps</h2>
    <div>Click on the link at the top to go to different pages</div>
</div>

<%- include('./partials/footer.ejs') %> 