<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>Super Team Picker</title>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container-fluid">
                <a class="navbar-brand text-color" href="/welcome">Super Team Picker</a>
                </ul>
                <form class="d-flex">
                    <div class="nav-item">
                        <a class="nav-link text-color" aria-current="page" href="/welcome">Home</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link text-color" aria-current="page" href="/cohorts">Cohorts</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link text-color" aria-current="page" href="/cohorts/new">New Cohorts</a>
                    </div>
                </form>
            </div>

        </nav>
    </div>